
VM_MEM = "$vm_mem"
VM_BOX_NAME = "$vm_box_name"

$host_script = <<SCRIPT
#!/bin/bash
cat > /etc/hosts <<EOF
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

$master_ip $master_name.localdomain $master_name
$slave1_ip $slave1_name.localdomain $slave1_name
$slave2_ip $slave2_name.localdomain $slave2_name
EOF
mkdir -p /var/lib/hiera
cat > /var/lib/hiera/defaults.yaml <<EOF
---
controlled_shutdown_enable: 'true'
EOF
SCRIPT

API_VERSION = "2"
SSH_USERNAME = $ssh_app_username
SSH_PWD = $ssh_app_password
Vagrant.configure(API_VERSION) do |config|

  config.vm.define :master do |master|
    master.vm.box = VM_BOX_NAME
    master.vm.provider :virtualbox do |v|
      v.name = "$master_name"
      v.customize ["modifyvm", :id, "--memory", VM_MEM]
    end
    master.vm.hostname = "$master_name.localdomain"
    master.vm.network :private_network, ip: "$master_ip"
  end

  config.vm.define :slave1 do |slave1|
    slave1.vm.box = VM_BOX_NAME
    slave1.vm.provider :virtualbox do |v|
      v.name = "$slave1_name"
      v.customize ["modifyvm", :id, "--memory", VM_MEM]
    end
    slave1.vm.hostname = "$slave1_name.localdomain"
    slave1.vm.network :private_network, ip: "$slave1_ip"
  end
  config.vm.define :slave2 do |slave2|
    slave2.vm.box = VM_BOX_NAME
    slave2.vm.provider :virtualbox do |v|
      v.name = "$slave2_name"
      v.customize ["modifyvm", :id, "--memory", VM_MEM]
    end
    slave2.vm.hostname = "$slave2_name.localdomain"
    slave2.vm.network :private_network, ip: "$slave2_ip"
  end

  config.push.define "master", strategy: "ftp" do |push|
        push.host = "$master_ip"
        push.username = SSH_USERNAME
        push.password = SSH_PWD
        push.secure = true
        push.dir = "./build"                                                                                                                                                                                                                                                   
        push.include = "*.jar"
        push.destination = "~/"
  end

  config.push.define "slave1", strategy: "ftp" do |push|
        push.host = "$slave1_ip"
        push.username = SSH_USERNAME                                                                                                                                                                                                                                           
        push.password = SSH_PWD                                                                                                                                                                                                                                                
        push.secure = true
        push.dir = "./build"   
        push.include = "*.jar"
        push.destination = "~/"
  end
  config.push.define "slave2", strategy: "ftp" do |push|
        push.host = "$slave2_ip"                                                                                                                                                                                                                                               
        push.username = SSH_USERNAME
        push.password = SSH_PWD
        push.secure = true
        push.dir = "./build"   
        push.include = "*.jar"
        push.destination = "~/"
  end


  config.vm.provision :shell, :inline => $host_script
  config.vm.provision :puppet do |puppet|
    puppet.manifests_path = '../puppet/manifests'
    puppet.manifest_file = 'site.pp'
    puppet.module_path = '../puppet/modules'
    puppet.options = '--verbose --debug'
    puppet.facter = {
        "os_maj_version"  => '6',
        "architecture"    => 'x86_64'
    }
  end
end
